#root {
  /* max-width: 1280px; */
  padding: 0rem 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.full{
  width: 90vw;
  height: auto;
}

.block {
  display: flex;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 1rem;
  padding: .5rem;
}

.ad {
  display: block;
  height: 15rem;
}

.nav_container_row{
  height: 3rem;
  background-color: var(--bg);
  border-bottom: 2px solid var(--font);
}

.nav_container_col{
  display: inline-flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
